matplotlib==3.8.0
mysql-connector-python==8.1.0
numpy==1.26.1
pandas==2.1.1
python-telegram-bot==20.6
requests==2.31.0
lxml
shioaji
html5lib   
sqlalchemy
pymysql
beautifulsoup4
arch
statsmodels
pykalman 
yfinance
pretty_html_table
seaborn
pdfkit
telethon
selenium
opencv-python-headless
tensorflow
webdriver-manager
